/.vscode
/GitHubVersions
/adlists.list
/custom.list
/dns-servers.conf
/docker-compose.yml.save.1
/etc-dnsmasq.d
/etc-pihole
/gravity.db
/list.1.raw.githubusercontent.com.domains
/list.1.raw.githubusercontent.com.domains.sha1
/list.2.github.com.domains
/list.2.github.com.domains.sha1
/list.3.raw.githubusercontent.com.domains
/list.3.raw.githubusercontent.com.domains.sha1
/list.4.raw.githubusercontent.com.domains
/list.4.raw.githubusercontent.com.domains.sha1
/local.list
/localbranches
/localversions
/migration_backup
/pialert
/pialert_db
/pihole-FTL.conf
/pihole-FTL.db
/pihole-claim0-persistentvolumeclaim.yaml
/pihole-claim1-persistentvolumeclaim.yaml
/setupVars.conf
/setupVars.conf.update.bak
/web-secure-networkpolicy.yaml
/config